.hover {
    background-color: #FCF2A4;
    cursor: default;
	border-bottom:1px solid #FCF2A4;
	border-top:1px solid black;
	border-left:1px solid black;
	border-bottom:1px solid black;
	border-right:1px solid #FCF2A4;
	margin-left:-150px;
	padding-left:100px;
	-webkit-border-top-left-radius: 200px 200px;
	-webkit-border-bottom-left-radius: 200px 200px;
	-moz-border-radius-bottomleft: 200px 200px;
	-moz-border-radius-topleft: 200px 200px;
	border-bottom-left-radius:200px 200px;
	border-top-left-radius:200px 200px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	z-index:1;
}